#beautifulsoup4 >= 4.5.1
dominate>=2.2.1
Flask>=0.8
folium>=0.2.1
gunicorn>=19.4.5
markdown>=2.6.7
#pandas >= 0.0
pymysql >= 0.0
rdflib>=4.2.2
rdflib-jsonld >= 0.0
#whitenoise==2.0.6
Jinja2>=2.7.1
Werkzeug>=0.9.4
